# Neon Postgres
DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/neondb?sslmode=require"

JWT_SECRET="change-me"
JWT_EXPIRES_IN="1d"

# Demo accounts created by `npx prisma db seed`
# admin@stockflow.dev / staff@stockflow.dev
SEED_ADMIN_PASSWORD="Admin1234!"
SEED_STAFF_PASSWORD="Staff1234!"
